{
    "Checks": "\
        *,\
        -modernize-use-trailing-return-type,\
        -llvmlibc-restrict-system-libc-headers,\
        -google-runtime-references,\
        -llvmlibc-callee-namespace,\
        -fuchsia-default-arguments-calls,\
        -llvmlibc-implementation-in-namespace,\
        -misc-non-private-member-variables-in-classes,\
        -hicpp-signed-bitwise,\
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,\
    ",
    "WarningsAsErrors": "\
        *,\
    ",
}
